body{
    font: 62.5% "Trebuchet MS", sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}
header{
    padding-bottom: 1em;
}
main{
    float: left;
}
aside{
    float: right;
}
//------------------------------------------------------------------------------
.demoHeaders {
    margin-top: 2em;
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 200px;
}
/*----------------------------------------------------------------------------*/
.filters{
    text-align: center;
    border: 1px solid #cccccc;
    //float: left;
    padding: 0.5em;
    background-color: #eeeeee;
    margin: 0.5em;
    border-radius: 4px;
}
.filterTitle{
    font: 1em initial;
    margin-bottom: 0.5em
}
.codeLike{
    color: #666;
    font-weight: bold;
    font-size: large;
    font-family: monospace;
}
#graph{
    border: 1px solid #cccccc;
    height: 500px;
    width: 960px;
    float: left;
}
path.asserted {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}
path.inferred {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}
path#inferred{
    fill: red;
}
path#asserted{
    fill: black;
}
text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
#divTip{
    position: absolute;
    border: 1px solid #cccccc;                          
    padding: 0.8em;             
    font-size: 1.2em;
    text-align: center;
    background-color: #eeeeee;   
    border-radius: 2px;           
    pointer-events: none;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
}
td.inftrue{
    color: red;
}
th{
    background-color: #444;
    color: white;
}
tr:nth-child(even){
    background-color: #f2f2f2
}
